{{> header}}


<div id="dashboard-holder">
    {{#if ideas}}
    {{#each ideas}}
    <div class="card overflow-hidden current-card details" style="width: 20rem; height: 18rem;">
        <div class="card-body">
            <p class="card-text">{{title}}</p>
        </div>
        <img class="card-image" src="{{imageURL}}" alt="Card image cap">
        <a class="btn" href="#/idea/details/{{ id }}">Details</a>
    </div>
    {{else}}
    {{/each}}

    {{else}}
    <h1>No ideas yet! Be the first one :)</h1>
    {{/if}}

</div>





{{> footer}}



{{!-- <div id="dashboard-holder">
    <div class="card overflow-hidden current-card details" style="width: 20rem; height: 18rem;">
        <div class="card-body">
            <p class="card-text">Dinner Recipe</p>
        </div>
        <img class="card-image" src="./images/dinner.jpg" alt="Card image cap">
        <a class="btn" href="">Details</a>
    </div>
    <div class="card overflow-hidden current-card details" style="width: 20rem; height: 18rem;">
        <div class="card-body">
            <p class="card-text">4 easy DIY ideas to try!</p>
        </div>
        <img class="card-image" src="./images/brightideacropped.jpg" alt="Card image cap">
        <a class="btn" href="">Details</a>
    </div>
    <div class="card overflow-hidden current-card details" style="width: 20rem; height: 18rem;">
        <div class="card-body">
            <p class="card-text">Best Pilates Workouts to Do at Home</p>
        </div>
        <img class="card-image" src="./images/best-pilates-youtube-workouts-2__medium_4x3.jpg" alt="Card image cap">
        <a class="btn" href="">Details</a>
    </div>
    <h1>No ideas yet! Be the first one :)</h1>
</div> --}}


<!-- Dashboard (All Causes View) -->
{{!-- <div style="margin-top:3%; padding-top: 3%;" class="container">
    <h1 class="text-center">NO CAUSES :(</h1>
    // ако имаме causes ще влезем в първия случай
    {{#each causes}}
    <div style="margin-bottom:25%;" class="row">
        <div class="col-lg-12">
            <div class="card mt-4">
                <img style="max-width: 1200px; height: auto; border-radius:25px;" class="card-img-top img-fluid"
                    src="{{pictureUrl}}" alt="">
                <div class="card-body">
                    <h3 class="card-title">{{ cause }}</h3>
                    <p class="card-text">{{ description }}</p>
                    <a href="#/cause/details/{{ id }}" class="btn btn-success">Become a donor $$$</a>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    {{/each}}
</div> --}}
<!-- ./Dashboard (All Causes View) -->