{{> header}}

<div id="treks-list">
  
    <a href="#" class="card overflow-hidden treksPlaceholder trek-details" style="width: 20rem; height: 18rem;">
        <div class="card-body">
            <p class="card-text">{{location}}/p>
        </div>
        <img class="card-image" src="{{imageIRL}}" alt="Card image cap">
    </a>
  

</div>

{{> footer}}


<!-- Dashboard (All Causes View) -->
{{!-- <div style="margin-top:3%; padding-top: 3%;" class="container">
        <h1 class="text-center">NO CAUSES :(</h1>
        {{!-- ако имаме causes ще влезем в първия случай --}}
{{#each causes}}
<div style="margin-bottom:25%;" class="row">
    <div class="col-lg-12">
        <div class="card mt-4">
            <img style="max-width: 1200px; height: auto; border-radius:25px;" class="card-img-top img-fluid"
                src="{{pictureUrl}}" alt="">
            <div class="card-body">
                <h3 class="card-title">{{ cause }}</h3>
                <p class="card-text">{{ description }}</p>
                <a href="#/cause/details/{{ id }}" class="btn btn-success">Become a donor $$$</a>
            </div>
        </div>
    </div>
</div>
{{else}}
{{/each}}
</div> --}}
<!-- ./Dashboard (All Causes View) -->